# AppCode
.idea

# Xcode
build/*
xcuserdata
*.xccheckout
*.xcuserstate

# Pods
Pods/*

# MAC OS
.DS_Store

# fastlane specific
fastlane/report.xml
fastlane/README.md
fastlane/builds/*

# deliver temporary files
*/fastlane/Preview.html

# snapshot generated screenshots
*/fastlane/screenshots

# scan temporary files
*/fastlane/test_output

#realm
**/*.realm.*
